---
---

<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>3057139607</p>
        </div>
        <div class="content-foo">
            <h4>E-mail</h4>
            <p>530nicolas@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>Bogotá dc</p>
        </div>
    </div>
    <h2 class="titulo final">Elaborado por: Nicolás Inchaustegui</h2>
</footer>