---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<section class="fotos">
    <div class="contenedor">
        <h2 class="titulo">Madrid</h2>
        <div class="galeria-port">
            <div class="imagen-port">
                <img src="../../public/Madrid/Imagen de WhatsApp 2024-05-25 a las 07.51.50_cbf7eb7b.jpg">
                <div class="hover-galeria">
                    
                </div>

            </div>
        </div>
    </div>

</section>