---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<section class="textos-header">
    <h1>España viaje:</h1>
    <h2>Experiencia Grupal Única</h2>

</section>
