---
---
<section class="clientes contenedor">

    <h2 class="titulo">Participantes</h2>
    <div class="cards">
        <div class="card">
            <img src="../../public/Paricipantes/imgp1.jpg" alt="Eduard">
            <div class="contenido-texto-card">
                <h4>Eduard</h4>
                <p>
                    declaraciones de eduard
                </p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../../public/Paricipantes/imgp2.jpg" alt="Alejandro">
            <div class="contenido-texto-card">
                <h4>Alejandro</h4>
                <p>
                    declaraciones de Alejandro
                </p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../../public/Paricipantes/imgp3.jpg" alt="Juan">
            <div class="contenido-texto-card">
                <h4>Juan</h4>
                <p>
                    declaraciones de Juan
                </p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <img src="../../public/Paricipantes/imgp4.jpg" alt="Nicolás">
            <div class="contenido-texto-card">
                <h4>Nicolás</h4>
                <p>
                    declaraciones de Nicolás
                </p>
            </div>
        </div>
    </div>

</section>