<section class="contenedor sobre-nosotros">
    <h2 class="titulo"> Nuestro viaje</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="../../public/MapaFotos.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span>Madrid</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam in alias odio 
                nobis accusamus quidem vel itaque, tempora qui deleniti? Corrupti porro iste ab similique 
                laborum cupiditate vel hic.
            </p>
            <h3><span>2</span>Salamanca</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam in alias odio 
                nobis accusamus quidem vel itaque, tempora qui deleniti? Corrupti porro iste ab similique 
                laborum cupiditate vel hic.
            </p>
            <h3><span>3</span>Barcelona</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam in alias odio 
                nobis accusamus quidem vel itaque, tempora qui deleniti? Corrupti porro iste ab similique 
                laborum cupiditate vel hic.
            </p>
        </div>
    </div>
    
</section>

<style>

  

</style>